@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --primary-color: #00369a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  background-color: #fff;
  margin: 0 20px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 768px;
}

h1 {
  padding: 5px 0;
  font-size: 1.7rem;
  color: #111;
}

textarea {
  padding: 10px;
  font-size: 14px;
  border: solid 2px #f0f0f0;
  border-radius: 1rem;
  outline: none;
  width: 100%;
}

textarea:focus {
  border: solid 2px #f0f0f0;
  box-shadow: 0 0 5px #f0f0f0;
}

label {
  display: block;
  width: 100%;
}

.highlight {
  font-weight: bold;
}
